* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #fbecec;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 500px;
}

.row {
  margin-bottom: 20px;
}

.right_box,
.left_box,
.text-wrapper-3,
.text-wrapper-6,
.text-wrapper-7 {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.input-box {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8b9b9;
  border-radius: 4px;
  font-size: 16px;
}

.name-row,
.cvc-row,
.address-row {
  display: flex;
  gap: 15px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.back-arrow {
    font-size: 60px;       
    font-weight: 800;
    color: var(--blue);
    cursor: pointer;
    text-decoration: none;
}

.button {
  display: inline-block;  
  padding: 12px 20px;
  background-color: #4a90e2;
  color: black;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s ease, transform 0.1s ease;
}
