.setting-page {
  overflow-x: hidden;
  width: 100%;
  min-width: 425px;
  min-height: 928px;
  position: relative;
}

.setting-page .rectangle {
  position: absolute;
  top: 1px;
  left: 0;
  width: 425px;
  height: 926px;
  background-color: #fbecec;
}

.setting-page .dropped-image {
  position: absolute;
  top: 43px;
  left: 180px;
  width: 121px;
  height: 100px;
  background-blend-mode: darken;
  aspect-ratio: 1.21;
  object-fit: cover;
}

.setting-page .frame {
  display: flex;
  flex-direction: column;
  width: 115px;
  align-items: flex-start;
  gap: 4.1px;
  padding: 4.1px;
  position: absolute;
  top: 650px;
  left: 52px;
}

.setting-page .arrow {
  position: relative;
  width: 110.17px;
  height: 45.32px;
  margin-top: -22.66px;
  margin-bottom: -22.66px;
  margin-left: -3.08px;
}

.setting-page .div {
  position: absolute;
  top: 175px;
  left: 34px;
  width: 169px;
  height: 100px;
  background-color: #ff0202;
}

.setting-page .rectangle-2 {
  position: absolute;
  top: 461px;
  left: 249px;
  width: 160px;
  height: 100px;
  background-color: #ff0202;
}

.setting-page .rectangle-3 {
  position: absolute;
  top: 461px;
  left: 37px;
  width: 166px;
  height: 100px;
  background-color: #ff0202;
}

.setting-page .rectangle-4 {
  position: absolute;
  top: 318px;
  left: 254px;
  width: 160px;
  height: 100px;
  background-color: #ff0202;
}

.setting-page .rectangle-5 {
  position: absolute;
  top: 318px;
  left: 35px;
  width: 168px;
  height: 100px;
  background-color: #ff0202;
}

.setting-page .rectangle-6 {
  position: absolute;
  top: 172px;
  left: 249px;
  width: 160px;
  height: 100px;
  background-color: #ff0202;
}

.setting-page .customer-service {
  position: absolute;
  top: 474px;
  left: 272px;
  width: 184px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
}

.setting-page .text-wrapper {
  position: absolute;
  top: 476px;
  left: 52px;
  width: 184px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
}

.setting-page .change-community {
  position: absolute;
  top: 338px;
  left: 258px;
  width: 184px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
}

.setting-page .text-wrapper-2 {
  position: absolute;
  top: 347px;
  left: 56px;
  width: 174px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
}

.setting-page .login-security {
  position: absolute;
  top: 188px;
  left: 280px;
  width: 184px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
}

.setting-page .text-wrapper-3 {
  position: absolute;
  top: 193px;
  left: 67px;
  width: 140px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
}
/* Original CSS code should be injected here */

.setting-page {
  overflow-x: hidden;
  width: 100%;
  min-width: 425px;
  min-height: 928px;
  position: relative;
}

.setting-page .rectangle {
  position: absolute;
  top: 1px;
  left: 0;
  width: 425px;
  height: 926px;
  background-color: #fbecec;
}

.setting-page .dropped-image {
  position: absolute;
  top: 43px;
  left: 180px;
  width: 121px;
  height: 100px;
  background-blend-mode: darken;
  aspect-ratio: 1.21;
  object-fit: cover;
}

.setting-page .frame {
  display: flex;
  flex-direction: column;
  width: 115px;
  align-items: flex-start;
  gap: 4.1px;
  padding: 4.1px;
  position: absolute;
  top: 650px;
  left: 52px;
}

.setting-page .frame a {
  display: block;
  line-height: 0;
}

.setting-page .arrow {
  position: relative;
  width: 110.17px;
  height: 45.32px;
  margin-top: -22.66px;
  margin-bottom: -22.66px;
  margin-left: -3.08px;
}

.setting-page .settings-grid {
  position: relative;
}

.setting-page .div {
  position: absolute;
  top: 175px;
  left: 34px;
  width: 169px;
  height: 100px;
  background-color: #ff0202;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-page .rectangle-2 {
  position: absolute;
  top: 461px;
  left: 249px;
  width: 160px;
  height: 100px;
  background-color: #ff0202;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-page .rectangle-3 {
  position: absolute;
  top: 461px;
  left: 37px;
  width: 166px;
  height: 100px;
  background-color: #ff0202;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-page .rectangle-4 {
  position: absolute;
  top: 318px;
  left: 254px;
  width: 160px;
  height: 100px;
  background-color: #ff0202;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-page .rectangle-5 {
  position: absolute;
  top: 318px;
  left: 35px;
  width: 168px;
  height: 100px;
  background-color: #ff0202;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-page .rectangle-6 {
  position: absolute;
  top: 172px;
  left: 249px;
  width: 160px;
  height: 100px;
  background-color: #ff0202;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-page .customer-service {
  position: absolute;
  top: 474px;
  left: 272px;
  width: 184px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
  pointer-events: none;
}

.setting-page .text-wrapper {
  position: absolute;
  top: 476px;
  left: 52px;
  width: 184px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
  pointer-events: none;
}

.setting-page .change-community {
  position: absolute;
  top: 338px;
  left: 258px;
  width: 184px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
  pointer-events: none;
}

.setting-page .text-wrapper-2 {
  position: absolute;
  top: 347px;
  left: 56px;
  width: 174px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
  pointer-events: none;
}

.setting-page .login-security {
  position: absolute;
  top: 188px;
  left: 280px;
  width: 184px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
  pointer-events: none;
}

.setting-page .text-wrapper-3 {
  position: absolute;
  top: 193px;
  left: 67px;
  width: 140px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 26.3px;
  letter-spacing: 0;
  line-height: normal;
  pointer-events: none;
}

.setting-page button:hover {
  opacity: 0.9;
}

.setting-page button:active {
  opacity: 0.8;
}
