.setting-page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #fbecec;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}


.dropped-image{
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 30px;
}


.settings-grid {
  width: 90%;
  max-width: 420px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px;
}


.settings-grid button {
  background: #ff0202;
  border: none;
  padding: 18px;
  color: white;
  font-size: 22px;
  font-weight: 800;
  border-radius: 5px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  cursor: pointer;
}

.settings-grid button:hover {
  opacity: 0.9;
}
.settings-grid button:active {
  opacity: 0.8;
}

.back {
  margin-top: 40px;
}

.back-arrow {
  font-size: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.frame.back {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

