.main-page {
    background: #fbecec;
    min-height: 100vh;
    padding: 20px;
    font-family: "Inter", sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campus-title {
    font-size: 40px;
    font-weight: 800;
}

.logo {
    width: 60px;
    height: 60px;
}

/* Layout: sidebar + main content */
.layout {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
}

/* Sidebar */
.filters {
    background: #f8b9b9;
    padding: 15px;
    border-radius: 8px;
}

.filters h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group label {
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}

.filter-group input,
.filter-group select {
    width: 100%;
    padding: 6px;
    margin-top: 3px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.size-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    background: #fd0606;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Search bar */
.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 60%; /* shorter search bar */
    max-width: 350px;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ccc;
    outline: none;
    transition: 0.2s;
}

#searchInput:focus {
    border-color: #ff4d4d;
    box-shadow: 0 0 4px #ff4d4d;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Product card */
.product-card {
    background: #fd0606;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.product-card .item-price {
    font-size: 18px;
    margin: 10px 0;
}

.view-btn {
    background: #d9d9d9;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
}

/* Footer Navigation */
.footer-nav {
    display: flex;
    justify-content: space-between; /* arrow left, buttons right */
    align-items: center;
    margin-top: 40px;
}

/* Back Arrow */
.back-arrow {
    font-size: 60px;       /* make arrow very large */
    font-weight: 800;
    color: var(--blue);
    cursor: pointer;
}

/* Mobile responsiveness */
@media (max-width: 600px) {

    .layout {
        grid-template-columns: 1fr; /* stack layout */
    }

    .filters {
        display: none; /* hide sidebar */
    }

    .search-container {
        width: 90%;
    }

    .product-grid {
        width: 90%;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
    }

}