.confirm {
  background-color: #fbecec;
  width: 100%;
  min-width: 425px;
  min-height: 926px;
  position: relative;
}

.confirm .rectangle {
  top: 305px;
  left: 63px;
  width: 299px;
  height: 148px;
  box-shadow: 0px 6px 4px #00000040;
  position: absolute;
  background-color: #f8b9b9;
}

.confirm .CONFIRMATION-NUMBER {
  position: absolute;
  top: 323px;
  left: 121px;
  width: 212px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #111010;
  font-size: 25.6px;
  letter-spacing: 0;
  line-height: normal;
}

.confirm .div {
  position: absolute;
  top: 490px;
  left: 83px;
  width: 259px;
  height: 28px;
  background-color: #f8b9b9;
}

.confirm .text-wrapper {
  position: absolute;
  top: 492px;
  left: 101px;
  width: 222px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18.3px;
  letter-spacing: 0;
  line-height: normal;
}

.confirm .text-wrapper-2 {
  position: absolute;
  top: 408px;
  left: 171px;
  width: 113px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #111010;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.confirm .rectangle-2 {
  top: 693px;
  left: 96px;
  width: 233px;
  height: 79px;
  position: absolute;
  background-color: #f8b9b9;
}

.confirm .BACK-TO-MAIN-MENU {
  position: absolute;
  top: 708px;
  left: 130px;
  width: 212px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #111010;
  font-size: 25.6px;
  letter-spacing: 0;
  line-height: normal;
}
/* Original CSS code should be injected here */

.confirm {
  background-color: #fbecec;
  width: 100%;
  min-width: 425px;
  min-height: 926px;
  position: relative;
}

.confirmation-card {
  position: relative;
  top: 305px;
  left: 63px;
  width: 299px;
  height: 148px;
}

.confirmation-card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 6px 4px #00000040;
  background-color: #f8b9b9;
}

.confirmation-heading {
  position: absolute;
  top: 18px;
  left: 58px;
  width: 212px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #111010;
  font-size: 25.6px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.confirmation-heading-line1 {
  display: block;
}

.confirmation-heading-line2 {
  display: block;
  margin-left: 30px;
}

.confirmation-number {
  position: absolute;
  top: 103px;
  left: 108px;
  width: 113px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #111010;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  margin: 0;
}

.email-notice {
  position: absolute;
  top: 490px;
  left: 83px;
  width: 259px;
  height: 28px;
}

.email-notice-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8b9b9;
}

.email-notice-text {
  position: absolute;
  top: 2px;
  left: 18px;
  width: 222px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18.3px;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
}

.navigation {
  position: absolute;
  top: 693px;
  left: 96px;
  width: 233px;
  height: 79px;
}

.back-button {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.back-button-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8b9b9;
}

.back-button-text {
  position: absolute;
  top: 15px;
  left: 34px;
  width: 212px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #111010;
  font-size: 25.6px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.back-button-text-line1 {
  display: block;
}

.back-button-text-line2 {
  display: block;
}

.back-button:hover .back-button-background {
  background-color: #f6a5a5;
}

.back-button:active .back-button-background {
  background-color: #f49090;
}

.back-button:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}
