body {
  margin: 0;
  padding: 0;
  background-color: #f8b9b9;
  font-family: system-ui, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.login-page {
  text-align: center; 
}
.confirm {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 30px;
}

.secondary-btn {
    display: inline-block;
  padding: 12px 20px;
  color: black;
  font-weight: 1200;
  font-size: 80px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s ease, transform 0.1s ease;
}

.button {
  display: inline-block;  
  padding: 12px 20px;
  background-color: #4a90e2;
  color: black;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s ease, transform 0.1s ease;
}

.secondary-btn:hover,
.button:hover {
  opacity: 0.9;
}

.secondary-btn:active,
.button:active {
  transform: scale(0.97);
}